/* BUTTON Style */

.Numb {
  border: 1px solid green;
  width: 50px;
  height: 20px;
  margin-left: 43%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.idk {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 200px;
  margin-left: 30px;
  font-weight: bold;
  margin-top: 20px;
}
